@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

:root {
  --font-color: #333;
  --background-color: #eee;
  --nav-bg: rgb(0, 89, 255);
  --card-bg: rgb(255, 255, 255);
  --title-bg: rgb(215, 255, 71);
}
 
[data-theme='dark'] {
  --font-color: #eee;
  --background-color: #333;
  --nav-bg: rgb(99, 99, 99);
  --card-bg: rgb(170, 170, 170);
  --title-bg: rgb(255, 255, 255);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
}


main {
  margin: 0 80px;
  padding: 16px;
}

button {
  background: transparent;
  color: #eee;
  font-size: 20px;
  border: 0;
  cursor: pointer;
}

.input label {
  color: #eee;
}

.navbar {
  background-color: var(--nav-bg);
}
.notes-app__header {
  display: flex;
}

.input  {
  margin: auto;
}

.login {
  margin-top: 100px;
}

.card {
  background-color: var(--card-bg);
}

.notes-app h2 {
  font-size: 30px;
  color: var(--font-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar ul {
  margin: 0 100px;
}

.navbar ul li {
  display: inline-block;
  padding: 25px;
}

.container {
  display: inline;
}

.row {
  width: 300px;
  display: inline-block;
  margin: auto;
  position: relative;
}

.detail {
  width: 50rem;
  margin: auto;
}

.notes-item {
  width: 800px;
  margin: auto;
}

.notes-item:hover {
  background-color: rgb(177, 211, 255);
}

.title {
  background-color: var(--title-bg);
  padding: 0 15px;
  border: 1px solid black;
  border-radius: 15px;
}

.title h5 {
  font-size: medium;
  margin-top: 10px;
}

.notes-item__notes {
  width: 250px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}


.kosong {
  text-align: center;
  margin-top: 50px;
}

.notes-item__notes {
  font-weight: lighter;
}


.notes-input input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: 'Inter', sans-serif;
}

.notes-input .body {
  height: 200px;
}



@media screen and (max-width: 650px) {
  main {
    margin: 0 20px;
  }

  .navbar ul {
    margin: 0 10px;
    padding: 0;
  }

  .navbar ul li {
    padding: 10px;
  }

  .detail-page__title {
    font-size: 64px;
  }
}

@media screen and (max-width: 850px) {
  main {
    margin: 0 10px;
  }

  .navbar ul {
    margin: 0 10px;
  }
}

@media screen and (max-width: 1200px) {
  main {
    margin: 0 5px;
  }

  .navbar ul {
    margin: 0 10px;
  }
}